.button {
    width: 100px;
    height: 100px;
    font-size: 24px;
    margin: 5px;
    border: 2px solid rgb(133, 134, 148);
    background-color: rgb(224, 224, 224);
    cursor: pointer;
    outline: none;
  }
  
  .orange {
    background-color: rgb(245, 146, 62);
  }
  
  .wide {
    width: 200px;
  }
  