.display {
    width: 100%;
    height: 80px;
    border: 2px solid rgb(133, 134, 148);
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    font-size: 36px;
  }
  