.overlined {
    text-decoration: overline;
  }
  
  .line-through {
    text-decoration: line-through;
  }
  
  .underlined {
    text-decoration: underline;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  .lowercase {
    text-transform: lowercase;
  }
  
  .capital-letters {
    text-transform: capitalize;
  }
  
  .custom-div {
    margin: 50px;
    padding: 50px;
    border: 20px solid blue;
    width: 300px;
    background-color: lightgrey;
  }