table {
    margin-bottom: 50px;
    border: 1px solid black;
  }

  table td {
    padding: 5px;
    border: 1px solid black;
  }
  table tr{
    border: 1px solid black;
  }
  table p{
    display: inline;
  }